<div data-name='{{name}}' class='upgrade'>
	<div class='media'>
		<img src='images/upgrades/{{image}}' alt='{{name}}' width='150' />
	</div>
	<div class='details'>
		<p class='title'>
			{{title}}
			<span class='quantity'>{{quantity}}</span>
		</p>
		<p class='value'>{{nps}} nics/s</p>
	</div>
</div>